.imgtitle {

margin-left: 100px;
margin-top: 20px;
margin-bottom: 30px; 
}

.retour {

  left:94%;
  top: 89%;
  position:fixed;
}

.space{

  padding-top: 500px;
  padding-bottom: 500px;
}

.tab {
	margin-left:30px;
	
	}
	
.lilspace {
	
	margin-bottom: 75px;
}

.card {

  padding-left:20px;
  padding-right:20px;
  padding-top:40px;
  padding-bottom:40px;
}


.divpath {

  display: flex;
  align-items: center;

}

.welcometxt{
  flex: 1;
margin-right:20px;
margin-left:20px;
}

.normaltxt{
  font-size: 25px;
}



.loisircard{
  padding-left: 0px;
  padding-top:0px;
	padding-right:0px;
  border-color: black;
  background-color: black ;
  
  

}

.bordercard{

  border:2px solid;
  margin-bottom: 15px;
  margin-top:15px;
}

.lghome{
  margin-left : 20px;
  margin-top: 4px;
}

.divlghome{ 
	height : 64px;
	left : 0rem !important;
}



@media screen and (max-width: 980px) {

.bouton{
	visibility:hidden;
	
}
}


#mainIndex {
	display: flex;
	flex-direction:row;
}

#imageGauche{
width: 50vw;	
height: 100vh;
background-image: url(../img/wpd.jpg);
background-size: cover;
	
}
#imageDroite{
width: 50vw;
height: 100vh;
background-image: url(../img/wpw.jpg);
background-size: cover;
}

#messageBienvenue{
	position: absolute;
	width:70vw;
	top:0;
	left:50vw;
	transform:translateX(-50%);
	background-color:white;
	font-size:2.5rem;
	padding:1.5rem;
	text-align:center;
	border-radius:0 0 5px 5px;
	font-family: 'Montserrat', sans-serif;
	animation: 1.2s ease-out 0s 1 loadAnimation2;
	
}

.boutonIndex {
	position: absolute;
	bottom:15vh;
	animation: 1.2s ease-out 0s 1 loadAnimation;
	opacity: 1;
}

#boutonGauche {
	left:25vw;
	transform:translateX(-50%);
}

#boutonDroite {
	right:25vw;
	transform:translateX(50%);
}

@keyframes loadAnimation {
  0% {
    bottom:0vh;
	opacity: 0;
  }
  100% {
    bottom:15vh;
	opacity: 1;
  }
}

@keyframes loadAnimation2 {
  0% {
   
	opacity: 0.5;
  }
  100% {
    
	opacity: 1;
  }
}